@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Cormorant+Garamond:ital,wght@1,500&display=swap');

html, body {
	background-color: #010101f9;
	color: #fff;
	width: 100vw;
	height: 100vh;
	font-family: 'Chivo Mono', monospace;
	cursor: none;
}

.container-fluid {
	/* border: #fff solid 1px; */
	height: 100%;
	padding: .4in;
}

.row {
	height: 50%;
	/* border: #fff solid 1px; */
}

/* .col {
	border: #fff solid 1px;
} */

#title {
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}

#content {
	font-size: 300px;
	font-weight: bold;
	text-align: center;
}